@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--page-bg-color);
  /* color: var(--text-color); */
  transition: background-color 0.4s ease, color 0.4s ease;
  height: 100vh;
  font-family: 'Josefin Sans';
}

.app::before, .app::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: var(--header-color);
  z-index: 1000;
}

.app::before {
  left: 0;
}

.app::after {
  right: 0;
}