:root {
  --bg-color: #d3cab1;
  --text-color: #15567e;
  --highlight-color: #e9dfc4;
  --toggle-color: #d3cab1;
  --toggle-highlight-color: #e9dfc4;
  --header-color: #15567e;
}

[data-theme="dark"] {
  --bg-color: #2b2e3b;
  --text-color: #d3cab1;
  --highlight-color: #221f2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.app::before, .app::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: var(--header-color);
  z-index: 1000;
}

.app::before {
  left: 0;
}

.app::after {
  right: 0;
}